@charset "ISO-8859-1";
body{
    height: 800px;
    background-image: linear-gradient(white, aqua);
}
.container{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    background-color: white;
    position: relative;
    top: 20px;
    left: 400px;
}
#l1{
    position: relative;
    top: 150px;
    left: -90px;
}
#inp1{
    position: relative;
    top: 150px;
    left: 190px;
}
#l2{
    position: relative;
    top: 180px;
    left: -90px;
}
#inp2{
    position: relative;
    top: 180px;
    left: 190px;
}
#btn{
    position: relative;
    top: 220px;
    left: 230px;
    cursor: pointer;    
}